# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mohab\Desktop\UNMC\First Year\SEM1\Programming and Algorithms (Dr. Chew)\library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
